@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------hide scrollbar */
*::-webkit-scrollbar{
    display: none;
}
/* -------------hide scrollbar end */
.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

*::-webkit-scrollbar-track-piece{
    display: none;
}
.active{
    background: rgb(209, 209, 84);
    color: white;
    padding: 5px 50px;
    border-radius: 8px;
    width: 100%;
    border-radius: 5px;
}

